* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* Phan dau danh sach san pham */

.product-group {
    padding: 0;
}

.list-product-title {
    width: 100%;
    padding: 0;
    margin: 0px 5px;
    /* Tat ca chu trong van ban deu thanh chu hoa */
    text-transform: uppercase;
}

.list-product-subtile {
    padding: 0;
    width: 100%;
    margin: 0px 5px;
}


/* Phan cac card san pham  */

.del-price {
    text-decoration: line-through;
}

.btn-icon-bg {
    color: white !important;
}

.btn-hover:hover {
    color: white !important;
}


/* Footer */